<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
          <h1 class="logo">SocialConnect</h1>
          <nav class="nav">
            <a href="/auth/index">Features</a>
            <a href="#about">About</a>
            <a href="/auth/registrasi">Join Now</a>
          </nav>
        </div>
      </header>
    <container>
    <form action="/auth/login" method="POST">
        <h1 class="h1">LOGIN</h1>
        <input type="text" id="username" name="username" placeholder="Username"><br>
        <input type="password" id="password" name="password" placeholder="Password"><br>
        <button type="submit">logIn</button>
        
    </form>
    <p>Belum punya akun? <a href="/auth/registrasi">Registrasi</a></p>
</container>
</body>
</html>