<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/registrasi.css">  
    <title>registrasi</title>
</head>
<body>
    <header class="header">
        <div class="container">
          <h1 class="logo">SocialConnect</h1>
          <nav class="nav">
            <a href="/auth/index">Features</a>
            <a href="#about">About</a>
            <a href="/auth/registrasi">Join Now</a>
          </nav>
        </div>
      </header>
    <container>
    <form action="/auth/registrasi" method="POST">
        <h1 class="h1">REGISTRASI</h1>
        <input type="text" id="username" name="username" placeholder="Username"><br>
       
        <input type="password" id="password" name="password" placeholder="Password"><br><br>
        <button type="submit">Registrasi</button>
    </form>
    <p>anda sudah punya akun? <a href="/auth/login">login</a></p>
    </container>
</body>
</html>